@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Noto+Serif+HK:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-jungle: #29ab87; /* #29AB87 - Primary green */
  --color-therapy-blue: #2563eb; /* #2563EB - Complementary blue */
  --color-mindful-gray: #6b7280; /* #6B7280 - Neutral gray */

  /* Your existing colors */
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;

  /* Font families */
  --font-poppins: "Poppins", serif;
  --font-notoserif: "Noto Serif HK", serif;
  --font-cardo: "cardo", serif;

  /* Shadows */
  --shadow-card: 0px 2px 4px rgba(0, 0, 0, 0.4),
    0px 3px 3px -3px rgba(0, 0, 0, 0.3), 0px -3px 0px inset rgba(0, 0, 0, 0.2);
  --shadow-card2: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  --shadow-bottom: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  --shadow-card3: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

  /* Text sizes */
  --text-xxs: 0.65rem;
}

@plugin "daisyui" {
  themes: false;
}

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important; /* emerald-600 */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important; /* emerald-500 */
}
